.form-window {
    background-color: #b8b8b8;
    color: #000;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 30%;
    min-width: 400px;
    margin: auto;
}

.form-field {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

.form-button {
    text-align: center;
}
.form-button input {
    width: 300px;
    font-size: 17px;
    margin-bottom: 5px;
    border-radius: 5px;
    border-style: none;
    background-color: darkorange;
    transition: background-color .2s;
    height: 50px;
}

#login-button {
    cursor: pointer;
}